<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>ip</th>
        <th>humidity</th>
    </tr>
    </thead>
    <tbody>
    {{#each goldoons}}
        <tr>
            <td>{{{this._id}}}</td>
            <td>{{{this.ip}}}</td>
            <td>{{{this.humidity}}}</td>
        </tr>
    {{/each}}

</table>